<h4>Schedule Notification</h4>
<%= simple_form_for notification do |f| %>
  <%= f.input :message, as: :text %>
  <%= f.input :send_at, as: :hidden, html5: true %>
  <%= f.simple_fields_for :datetime do |nf| %>
    <%= nf.input :send_at, as: :datetime, html5: true %>
  <% end %>
  <div class="notification_hide_time">
    <%= f.input :alert, :input_html => { :value => 9 } %>
  </div>
  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
