<h4>Send Notification Now</h4>
<%= simple_form_for [@control_patient, @control_notification] do |f| %>
  <%= f.input :message, as: :text %>
  <div class="notification_hide_time">
    <%= f.input :alert, :input_html => { :value => 10 } %>
    <%= f.input :send_at %>
    <%= f.input :target_patient, :input_html => { :value => @control_patient.id } %>
  </div> 
  <%= f.button :submit, 'Send Now!', class: 'btn-primary' %>
<% end %>
