<div class="col-xs-12 col-lg-6">
  <h2>Exacerbation Detail</h2>

  <%= link_to root_url() do %>
    <button class="btn btn-danger back-btn">
      Go Back
    </button>
  <% end %>
  <div class="panel panel-default highlighted">
    <div class="patient-profile-table highlighted">
      <%= render 'shared/mobile_table_row', block_name: 'patient-profile-table', header: t('exacerbation.model.full_name'), value: @exacerbation.patient.full_name %>
      <% if @exacerbation.exacerbation == 'red' || @exacerbation.exacerbation == 'red_now' %>
        <%= render 'shared/mobile_table_row', block_name: 'patient-profile-table', header: t('exacerbation.model.exacerbation'), value: "Severe" %>
      <% end %>
      <% if @exacerbation.exacerbation == 'yellow' %>
        <%= render 'shared/mobile_table_row', block_name: 'patient-profile-table', header: t('exacerbation.model.exacerbation'), value: "Prolonged" %>
      <% end %>
      <%= render 'shared/mobile_table_row', block_name: 'patient-profile-table', header: t('exacerbation.model.created_time'), value: (l @exacerbation.created_at) %>
      <%= render 'shared/mobile_table_row', block_name: 'patient-profile-table', header: t('exacerbation.model.comment'), value: @exacerbation.comment %>
    </div>
  </div>
</div>
  
<div class="col-xs-12 col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render 'email_table' %>
    </div>
  </div>
</div>
